.cd-game {
  margin-top: 20px;
  &-page {
    &__search {
      display: flex;
      align-items: center;
    }
  }
  &-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    &__img {
      width: 400px;
      &-content {
        width: fit-content;
        margin: auto;
        img {
          height: 200px;
          object-fit: cover;
        }
      }
      &-slide {
        margin-top: 20px;
        width: 100%;
        &__part {
          width: 100%;
          img {
            cursor: pointer;
            margin: auto;
            width: 90%;
            height: 100px;
            object-fit: cover;
          }
        }
      }
    }
    &__description {
      width: 400px;
      &-header {
        color: rgb(253, 66, 66);
        font-size: 25px;
        font-weight: 600;
      }
      &-discount {
        display: flex;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
        background-color: rgb(228, 227, 227);
        gap: 10px;
        font-size: 20px;
        font-weight: 600;
        &__before {
          color: red;
          text-decoration: line-through;
        }
      }
      &-btn {
        width: 200px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        gap: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        &__buy {
          width: 100%;
          cursor: pointer;
          text-align: center;
          padding: 10px;
          background-color: antiquewhite;
          border-radius: 8px;
        }
        &__cart {
          width: 100%;
          cursor: pointer;
          text-align: center;
          padding: 10px;
          border-radius: 8px;
          background-color: azure;
        }
      }
      &-disk {
        margin-top: 20px;
      }
    }
  }
  &-description {
    margin-top: 30px;
    width: 100%;
    word-wrap: break-word;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    &__title {
      font-size: 30px;
      text-decoration: underline;
      padding-bottom: 20px;
    }
    &__content {
      margin-top: 20px;
    }
  }
  .slick-arrow {
    color: black;
    background-color: black;
    border-radius: 100px;
    &:hover {
      color: black;
      background-color: black;
    }
    &:focus {
      color: black;
      background-color: black;
    }
  }
}
