.login {
  background-image: url('../../public/images/auth/bg.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: transparent;
    padding: 20px 0px;
    box-shadow: 0 0 10px 4px rgb(44, 44, 44), 0 0 10px 30px transparent;
    &-form {
      color: #ffffff;
      width: 90%;
      margin: auto;

      &-title {
        text-align: center;
        font-size: 30px;
      }
      &__input {
        width: 100%;
        &-label {
          font-size: $font_label;
          padding: 10px 0px;
        }
        &-text {
          width: 100%;
          input {
            width: 95%;
            padding: 15px 10px;
            font-size: $font_normal;
            outline: none;
            border: none;
            border-radius: $border_radius_input;
          }
        }
        &-error {
          color: $error_message;
          font-size: $font_normal;
        }
      }
      &-btn {
        display: block;
        margin-top: 20px;
        width: 100px;
        padding: 7px;
        float: right;
      }
    }
  }
}
