.user-profile {
  display: flex;
  justify-content: space-between;
  &-left {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 8px;
    &__title {
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }
    img {
      margin-top: 10px;
      width: 200px;
      border-radius: 200px;
    }
    &__content {
      margin-top: 10px;
    }
  }
  &-right {
    border: 2px solid black;
    border-radius: 8px;
    &__tab {
      display: flex;
      &-content {
        cursor: pointer;
        padding: 10px 20px;
      }
    }
    .update-profile {
      padding: 10px 20px;
    }
  }
  .log-out {
    margin: 20px auto 0px;
    width: 100px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 4px;
    background-color: red;
    cursor: pointer;
    color: white;
  }
}
